<div id="<%= dom_id task %>">
  <p>
    <strong>Taskname:</strong>
    <%= task.taskName %>
  </p>

  <p>
    <strong>Tryday:</strong>
    <%= task.start_time %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong>Usder:</strong>
    <%= task.user_id %>
  </p>

</div>
