<p style="color: green"><%= notice %></p>

<% content_for :title, "Friend users" %>

<h1>Friend users</h1>

<div id="friend_users">
  <% if @friend_user.variable %>
    <% @friend_users.each do |friend_user| %>
      <%= render friend_user %>
      <p>
        <%= link_to "Show this friend user", friend_user %>
      </p>
    <% end %>
  <% else %>
    <p>友達はいません</p>
    <% @users.each do |user| %>
      <%= render user %>
      <p>
        <%= link_to "Show All Users", user %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New friend user", new_friend_user_path %>
