<p style="color: green"><%= notice %></p>

<%= render @friend_user %>

<div>
  <%= link_to "Edit this friend user", edit_friend_user_path(@friend_user) %> |
  <%= link_to "Back to friend users", friend_users_path %>

  <%= button_to "Destroy this friend user", @friend_user, method: :delete %>
</div>
